* {
    font-family: 'RobotoLight', 'HelveticaNeue-Light', 'Helvetica Neue-Light', 'Helvetica Neue Light', 'HelveticaNeueLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #505050;
}

*:focus {
    outline: none;
}

.SearchWrapper {
    width: 50%;
    margin: 100px auto 0 auto;
    position: relative;
}

.SearchOverlay {
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    border: 1px solid red
}

.Search {
    font-size: 22px;
    margin: 0;
    color: #000;
    width: 100%;
    position: relative;
    -webkit-appearance: none;
    border-radius: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 15px 35px 15px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.Search::placeholder {
    color: #989898
}

.BookTile {
    margin: 20px;
    padding: 10px;
    display: flex;
}

.BookTile:nth-child(even) {
    background: #d8d8d812;
}

.BookTitle-image {
    flex-shrink: 0;
    width: 80px;
    height: 120px;
}

.BookTitle-desc {
    padding: 20px;
    font-size: 18px;
    text-align: left;
    flex-grow: 1
}


.BookTitle-desc-title {
    font-weight: bold;
    padding: 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
}

.BookTitle-controls {
    display: flex;
    align-items: center;
}

.BookPreview {
    width: 50%;
    margin: auto
}

.BookPreview-grid {
    text-align: center;
}

.background {
    position: absolute;
    left: 0;
    right: 0;
    top: -220px;
    height: 400px;
    z-index: -1;
    background-size: cover;
    background: url('static/assets/books-banner.jpg') center;
    opacity: 0.8;
}

.myButton {
    background-color: #ffffff;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 14px;
    padding: 10px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.myButton:hover {
    background-color: #f6f6f6;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.Loader {
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
    color: #545454;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        color: #545454;
    }
    50% {
        color: #a5a5a5;
    }
    100% {
        color: #545454;
    }
}

.OfferPreview {
    width: 50%;
    margin: 40px auto 0 auto;
}

.OfferResults {
    margin-top: 30px
}

.OfferResults table {
    width: 100%;
}

.OfferResults td {
    padding: 5px;
}

.OfferResults-header {
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.OfferPreview-no-result {
    text-align: center;
    padding: 10px;
    background: #eaeaea;
    font-size: 18px;
    color: #dc4040;
}
